html,
body {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

.contour-container {
  margin: auto;
  padding: 3em;
  background-color: white;
  border: 1px solid grey;
  width: 1000px;
}

#container {
  height: 500px;
}
